.main-content {
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(253, 249, 238);
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 8px;
}

.card {
    background-color: rgb(245, 245, 245);
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(194, 194, 194, 0.2);
    transition: 100ms ease-in-out;
}

.bg-success,
.bg-danger {
    color: white;
}

.text-center {
    text-align: center;
}

.end-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    min-height: 400px;
    text-align: center;
}

.end-screen :nth-child(3) {
    display: flex;
    gap: 8px;
}

.end-screen :nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 40%;
}

.end-screen img {
    height: 96px;
    width: 96px;
}

@media(max-width: 500px) {

    .navbar {
        display: none;
    }

    #card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100% !important;
    }
}